# Visual Studio 2015/2017 cache/options directory
/.vs/

# User files
*.user

# ImGui configuration
/Game/imgui.ini

# Build results
/Build/

# Library folder
/Game/Library/

# Penteract solution
/Game/Penteract/

# Penteract pdb/dll
/Game/Penterac_.pdb
/Game/Penterac_.dll